.TodoItem {
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.completed {
  text-decoration: line-through;

  input {
    opacity: 0.5;
  }
}

.checkbox {
  border-radius: 50%;
  width: 24px;
  flex-shrink: 0;
  height: 24px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.icons {
  flex-shrink: 0;
}

.icon {
  opacity: 0;
}

.itemHeader {
  padding: 8px 10px;

  &:hover > .icons > .icon {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

.childrenWrapper {
  padding-left: 20px;
}
