.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  width: 100%;
  transition: 0.3s all ease-in-out;
  padding: 3px 10px;
  color: var(--primary-color);

  &:focus {
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
  }
}

.readonly {
  opacity: 0.6;
}

.clear {
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;

  &:focus {
    border-bottom: none;
  }
}
