.app_dark_theme {
  --bg-color: #232323;
  --inverted-bg-color: #fff;
  --primary-color: #969696;
  --secondary-color: #1daf1d;
  --inverted-primary-color: #adadad;
  --inverted-secondary-color: #7e7e7e;
  --border-color: #aaa;

  // skeleton
  --skeleton-color: #060080;
  --skeleton-shadow: #0900b6;

  // card
  --card-bg: #363636;

  // listbox
  --listbox-bg: #181818;
}
